/*

!/burn-my-windows/
!/BraveSoftware/
!/dconf/
!/environment.d/
!/fastanime/
!/fastfetch/
!/fish/
!/gedit/
!/ghostty/
!/gowall/
!/kitty/
!/micro/
!/mpv/
!/pop-shell/
!/qBittorrent/
!/superfile/
!/vlc/
!/yazi/

# Ignore specific subdirectories within micro/
micro/backups/
micro/buffers/

!/.gitignore
!/starship.toml
